* { 
    box-sizing: border;
    margin: 0;
    padding: 0;
    /* font-size: 16px; */
}

header { 
    display: flex;
    justify-content: space-evenly;
    background-color: #595959;
    color: white;
}

#brand { 
    color: white;
}

#navbar { 
 background-color: #595959;
 display: flex;
}

#nav-menu { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li { 
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
}
