main { 
    background-image: url('../images/pexels-pixabay-small.webp');
    min-height: 250px;
    /* width: 100%; */
    margin: 1.5rem;
    background-repeat:  no-repeat;
    margin: 1.5rem;
    display: flex;
        justify-self: center;
}

@media screen and (min-width: 550px) {
    main { 
        background-color: red;
        background-image: url('../images/pexels-pixabay-medium.webp');
        margin: 0 auto;
        min-height: 500px;
        display: flex;
        justify-self: center;
    }
    
}
@media screen and (min-width: 1000px) { 
    main { 
        background-color: blue;
        background-image: url(../images/pexels-pixabay-large.webp);
        min-height: 750px;
        display: flex;
        justify-self: center;
    }
}