.mob-menu { 
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #000080;
	border-top: 1px solid white;	
}
.mob-menu li { 
	display: none;
}
.mob-menu li a  { 
	display: block;
	color: white;
	text-decoration: none;
	margin: 5px;
	font-weight: bold;
	font-size: 16px;
}
.mob-menu li a:hover { 
	color: #000080; 
	background: white;
}

.mob-menu li:nth-child(1) {
	margin-top: 15px;
}
.mob-menu li:nth-child(6) {
	margin-bottom: 15px;
}
.show li { 
	display: block;
}
@media screen and (min-width: 40em) { 
	
	.nav-menu { 
		display: flex; 
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}
	.nav-menu li { 
		display: block;
	}
	.nav-menu li a { 
		text-align: center;

	}
	#menu { 
		display: none;
	}

}
