* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.mobile-menu { 
    background-color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: start;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
}
.mobile-menu li { 
    display: none;
    flex: 1 1 100%;
    width: 100%;
    text-align: center;
}

.mobile-menu li a { 
    color: white; 
    text-decoration: none;
    text-decoration: none;
    list-style: none;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    padding: 1rem;
    display: block;
   

}
.mobile-menu li a:hover { 
    text-decoration: underline;
    background-color: rgba(0, 0, 128)
}
.show li { 
    display: block;
}
/* .show hr { 
    display: block;
} */


@media(max-width: 55em) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 800px;
        justify-content: center;
    }
   
    .about { 
        display: grid;
        grid-template-columns: 1fr;
    }
    .about img { 
        grid-row: 1/2;
        justify-items: center;
        margin: 0 auto;
        width: 280px;
        height: 180px;
    }
    .country { 
        display: grid;
        grid-template-columns: 1fr;
    }
    .country .country-flag { 
        grid-row: 1/2;
        margin: 0 auto;
    }
    .card1 .resources { 
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

@media (max-width: 40em) { 
    .title span { 
        font-size: 16px; 
    }
    .brand { 
        font-size: 14px;
    }
    .navbar { 
        display: flex;
        justify-content: center;
        min-height: 2rem;
        align-items: center;
    }
    .navbar ul  { 
        display: none;
    }
    #burger_menu::before { 
        content: "☰";
    }
    #burger_menu { 
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
    }
    #burger_menu.show::before { 
        content: "X";
    }
    
   

}