* { 
    margin: 0px; 
    padding: 0px;
    box-sizing: border-sizing;
}

body { 
    font-family: 'Roboto', sans-serif;
}

/* Styling the header main and footer
and giving each of the them the same width */

header, main, footer { 
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    background-color: aqua;
    padding: auto;
}

/* h1 { 
    
    text-align: center;
} */

main { 
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    /* gap: 1rem; */
}

section { 
    padding: 1rem; 
    background-color: #eee;
}

