/* Media Query Design */

@media screen and (min-width: 500px) { 
    header { 
        background-color: #000;
        color: #fff; 
        /* padding: 1rem; */
    }

    h1 { 
        padding: 1rem;
    }
    
    main { 
        display: gird;
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: 1fr; */
    }
    section { 
        margin: 1rem;
    }
    footer { 
        margin: 0px;
        padding: 1rem;
        border: 0px;
    }
}